language: node_js
node_js:
    - "14.16.0"
env:
    - CXX=g++-4.8
addons:
    apt:
        sources:
            - ubuntu-toolchain-r-test
        packages:
            - g++-4.8
install:
    - npm install -g vuepress@1.8.2
script:
    - npm run docs:build
cache:
    directories:
        - "node_modules"
notifications:
    email: false
deploy:
    provider: pages
    skip-cleanup: true
    local_dir: docs/.vuepress/dist
    github-token: $GITHUB_TOKEN
    repo: https://github.com/Claudio168/app2-vuepress.git
    keep-history: true
    target-branch: MAIN
    on:
        branch: MAIN